<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Add Listing</h1>
                </div>
                <form #userPost = "ngForm" (ngSubmit) = "onSubmit(userPost.value)">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Listing Id</label>
                        <input type="text" class="form-control" name="id" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Listing Title</label>
                        <input type="text" class="form-control" name="title" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Description</label>
                        <input type="text" class="form-control" name="description" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Street</label>
                        <input type="text" class="form-control" name="street" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">City</label>
                        <input type="text" class="form-control" name="city" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" name="postalCode" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Price</label>
                        <input type="text" class="form-control" name="price" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="text" class="form-control" name="email" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" ngModel>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
                <a style="color: rgb(18, 46, 139); margin-top: 10px; text-decoration: none;" routerLink = "/signup">Signup</a>
            </div>
        </div>
    </div>
</div>