<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Search Listing</h1>
                </div>
                <form #userPost = "ngForm" (ngSubmit) = "onSubmit(userPost.value)">
                    <div class="mb-3">
                        <input type="text" placeholder="Enter Postal Code" class="form-control mb-3" name="postalCode" ngModel>
                        <input type="text" placeholder="Enter City" class="form-control mb-3" name="city" ngModel>
                        <input type="text" placeholder="Enter Name" class="form-control mb-3" name="name" ngModel>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <!-- <div *ngFor = "let item of data | keyvalue" class="text-white">
                    <p>{{item.key}} : {{item.value}}</p>
                </div> -->
                <table class="table text-white">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Street</th>
                        <th scope="col">City</th>
                        <th scope="col">Postal Code</th>
                        <th scope="col">Price</th>
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let item of data">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.title}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.street}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.postalCode}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.username}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>