.col-md-6{
    position: relative;
}
.card{
    border: none;
    width: 1000px;
    padding: 40px;
    /* transform: translate(-50%, 50%); */
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
    position: absolute;
    left: 10%;
}

.card h1, h6{
    color: rgb(103, 26, 26);
}

label{
    color: rgb(92, 20, 20);
}