<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>{{listing.listing_id}}</h1>
                    <h1>{{listing.listing_title}}</h1>
                    <p>{{listing.description}}</p>
                    <br>
                    <p>Street: {{listing.street}}<br>City: {{listing.city}}<br>Postal Code: {{listing.postal_code}}</p>
                    <button mat-button>Price: ${{listing.price}}</button>
                    <button *ngIf="loginStatus" mat-raised-button color="basic" routerLink="/booking/{{listing.listing_id}}">Book</button>
                    <button *ngIf="!loginStatus" mat-raised-button color="basic" routerLink="/login">Book</button>
                </div>
                